.main{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap :20px;
    width:80%;
    margin:auto;
}
.headFlex{
    display: flex;
    gap:20px;
}
.headFlex .gold{
    color:rgb(217, 185, 3);
    border-style: none;
    background-color: white;
    font-size: 32px;

}
.clrOpt{
    font-size: 16px;
    margin-left:35px;
    /* justify-content: right; */
    border-radius: 06px;
    height:30px;
    padding:5px;
    background-color: azure;
    margin-top: 13px;

}
.card{
    margin-bottom:40px;

}
.btn{
    background-color: rgb(33, 33, 251);
    color:white;
    height:40px;
    width:200px;
    border-radius: 07px;
    margin-left:35px;
    margin-top:20px;
    border-style:none;
}
.card_img>img{
    height:439.5px;
    width:297.8px;
}
/* .card_header{
    text-align: center;
} */
.TopHead{
    margin-left:10%;
}

/* ///////////SELECT STYLING PART///////////////// */

.Sflex{
    display: flex;
    gap:25px;
    margin-left: 10%;
    margin-top:50px;
    margin-bottom:150px;
}
.Sflex>select{
    width:100px;
    height:38px;
    font-size: 16px;
    border-radius:09px;
    background-color:azure;

}

.Sflex>select>option{
    background-color:azure;
}